#bank {
    position: relative;
}

.elevator {
    border: 1px solid blue;
    position: absolute;
    text-align: center;
}

.floor {
    border-bottom: 10px solid #000;
    position: absolute;
    left: 0;
}

.button {
    background-color: red;
    margin-left: 15px;
    width: 5px;
    height: 5px;
}
.up {
    margin-top: 17px;
}
.down {
    margin-top: 5px;
}

.pushed {
    background-color: green;
}
